<% include ../partials/header %>


<div class='container'>
    <header class='jumbotron'>
    <h1>Welcome to the YelpCamp!</h1>
    <p> View all beautiful places on Earth</p>
    <a href="/camps/new" class="btn btn-info btn-lg"> Add new place</a>
</header>

<div class='row text-center'>
    <% camps.forEach(function(camp){ %>
    <div class='col-md-3 col-sm-6 d-flex'>
            <div class="img-thumbnail mb-4 d-flex flex-column">
                <img src='<%=camp.image %>'class="img-fluid">
                <div class='caption'>
                    <h4> <%= camp.name %> </h4>
                </div>
            
                <p class='mt-auto'>
                    <a href="/camps/<%= camp._id %>" class="btn btn-primary"> More info</a>
                </p>
                </div>
        </div>
   
    <% }) %>
</div>

</div>

<% include ../partials/footer %>
